<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <jmxConfigurator/>

    <!--<property name="CONSOLE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n" />-->
    <property name="FILE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{SessionId}] [%thread] %-5level %logger{56} - %msg%n"/>
    <property name="MAX_LOG_FILE_SIZE" value="64MB"/>
    <property name="MAX_LOG_HISTORY" value="15"/>
    <property name="ROOT_LOG" value="root"/>
    <property name="ERROR_LOG" value="error"/>
    <property name="RPC_LOG" value="rpc"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ROOT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>logType</Key>
            <DefaultValue>${ROOT_LOG}</DefaultValue>
        </discriminator>
        <sift>
            <appender name="ROOT-${logType}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_PATH}/${logType}.log</file>
                <encoder>
                    <pattern>${FILE_PATTERN}</pattern>
                </encoder>

                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/${logType}-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
                    <maxFileSize>${MAX_LOG_FILE_SIZE}</maxFileSize>
                    <maxHistory>${MAX_LOG_HISTORY}</maxHistory>
                </rollingPolicy>
            </appender>
        </sift>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>logType</Key>
            <DefaultValue>${ERROR_LOG}</DefaultValue>
        </discriminator>
        <sift>
            <appender name="ERROR-${logType}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_PATH}/${logType}.log</file>
                <encoder>
                    <pattern>${FILE_PATTERN}</pattern>
                </encoder>

                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/${logType}-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
                    <maxFileSize>${MAX_LOG_FILE_SIZE}</maxFileSize>
                    <maxHistory>${MAX_LOG_HISTORY}</maxHistory>
                </rollingPolicy>
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>ERROR</level>
                </filter>
            </appender>
        </sift>
    </appender>

    <appender name="RPC" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>logType</Key>
            <DefaultValue>${RPC_LOG}</DefaultValue>
        </discriminator>
        <sift>
            <appender name="RPC-${logType}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_PATH}/${logType}.log</file>
                <encoder>
                    <pattern>${FILE_PATTERN}</pattern>
                </encoder>

                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/${logType}-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
                    <maxFileSize>${MAX_LOG_FILE_SIZE}</maxFileSize>
                    <maxHistory>${MAX_LOG_HISTORY}</maxHistory>
                </rollingPolicy>
            </appender>
        </sift>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROOT"/>
        <appender-ref ref="ERROR"/>
    </root>
</configuration>